@inherits LayoutComponentBase
<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" href="">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <AuthorizeView>
                <Authorizing>
                    <text>...</text>
                </Authorizing>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/editor">
                            <i class="ion-compose"></i>&nbsp;New Article
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/settings">
                            <i class="ion-gear-a"></i>&nbsp;Settings
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@($"/@{context.User.Identity.Name}")">
                            <img class="user-pic" src="@(context.User.Claims.SingleOrDefault(x => x.Type == "ProfileImage")?.Value)">
                            &nbsp;@context.User.Identity.Name
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/login">Sign in</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/register">Sign up</NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>
@Body
<footer>
    <div class="container">
        <a href="/" class="logo-font">conduit</a>
        <span class="attribution">
            An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design licensed under MIT.
        </span>
    </div>
</footer>

@*TODO: Display user profile pic in nav and if they update it in settings refresh it in nav too*@