@page "/"
@inject PublicClient MyPublicClient
@inject ConduitClient MyConduitClient

<div class="home-page">

    <AuthorizeView>
        <Authorizing>
        </Authorizing>
        <Authorized>
        </Authorized>
        <NotAuthorized>
            <div class="banner">
                <div class="container">
                    <h1 class="logo-font">conduit</h1>
                    <p>A place to share your knowledge.</p>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Global Feed</a>
                        </li>
                    </ul>
                </div>

                <ArticleList Articles="ArticleList"
                             PageCount="(TotalArticleCount - 1) / 10 + 1"
                             CurrentPageIndex="CurrentPageIndex"
                             OnPageChange="@((param) => HandleOnPageChange((int)param))" />
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="tag-list">
                        @if (PopularTags == null)
                        {
                            <text>Loading tags...</text>
                        }
                        else
                        {
                            foreach (var tag in PopularTags)
                            {
                                <a href="" class="tag-pill tag-default">@tag</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    private List<Conduit.Models.Article> ArticleList;
    private int TotalArticleCount { get; set; }
    private int CurrentPageIndex { get; set; }
    List<string> PopularTags;
    bool IsFeedSelected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetMoreArticles(0);

        var tagsResult = await MyPublicClient.GetTags();
        if (tagsResult.Success)
        {
            PopularTags = tagsResult.ReponseObject;
        }
    }

    private async Task GetMoreArticles(int pageIndex)
    {
        if (IsFeedSelected)
        {
            var articleResult = await MyConduitClient.GetFeed(limit: 10, offset: pageIndex * 10);
            if (articleResult.Success)
            {
                ArticleList = articleResult.ReponseObject.Articles;
                TotalArticleCount = articleResult.ReponseObject.ArticlesCount;
            }
        }
        else
        {
            var articleResult = await MyConduitClient.GetArticles(limit: 10, offset: pageIndex * 10);
            if (articleResult.Success)
            {
                ArticleList = articleResult.ReponseObject.Articles;
                TotalArticleCount = articleResult.ReponseObject.ArticlesCount;
            }
        }
    }

    private async Task HandleOnPageChange(int newPageIndex)
    {
        CurrentPageIndex = newPageIndex;
        await GetMoreArticles(newPageIndex);
    }
}