@page "/Register"

@inject NavigationManager MyNavigationManager
@inject AuthService MyAuthService

<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign Up</h1>
                <p class="text-xs-center">
                    <a href="login">Have an account?</a>
                </p>

                <EditForm Model="@UserRegisterModel" OnValidSubmit="@RegisterUser">
                    <div class="error-messages">
                        <ValidationSummary />
                    </div>

                    <fieldset class="form-group">
                        <InputText @bind-Value="UserRegisterModel.Username" type="text" class="form-control form-control-lg" placeholder="Username" />
                    </fieldset>
                    <fieldset class="form-group">
                        <InputText @bind-Value="UserRegisterModel.Email" class="form-control form-control-lg" type="text" placeholder="Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <InputText @bind-Value="UserRegisterModel.Password" class="form-control form-control-lg" type="password" placeholder="Password" />
                    </fieldset>
                    <button type="submit" class="btn btn-lg btn-primary pull-xs-right" disabled="@(IsSubmitting)">
                        Sign up
                    </button>

                    <DataAnnotationsValidator />
                    <ServerValidator @ref="ServerValidator" />
                </EditForm>
            </div>

        </div>
    </div>
</div>

@code {
    bool IsSubmitting = false;
    Models.Register UserRegisterModel = new Models.Register();
    private ServerValidator ServerValidator;


    async Task RegisterUser()
    {
        ServerValidator.ClearErrors();

        IsSubmitting = true;

        var registerResult = await MyAuthService.RegisterUser(UserRegisterModel);

        IsSubmitting = false;

        if (registerResult.Success)
        {
            // Set the app up to make use of the returned JWT
            await MyAuthService.SetupUserIdentity(registerResult.ReponseObject);
            MyNavigationManager.NavigateTo($"/");
        }
        else if (registerResult.Errors?.Any() ?? false)
        {
            ServerValidator.DisplayErrors(registerResult.Errors);
        }
        else
        {
            ServerValidator.DisplayError(string.Empty, "Your request could not be processed");
        }
    }
}